@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>CRUD</title>
		<div class = "css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link id="bootstrap-style" href= "@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
			<link href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet">
			<link id="base-style" href="@routes.Assets.at("bootstrap/css/style.css")" rel="stylesheet">
			<link id="base-style-responsive" href="@routes.Assets.at("bootstrap/css/style-responsive.css")" rel="stylesheet">
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>	
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
			<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
			<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
			<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
		</div>
	</head>
    <body>
			<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"><span>Daftar Produk</span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-calendar"></i>
								<span class="badge red">
								0 </span>
							</a>
							<ul class="dropdown-menu tasks">
								<li class="dropdown-menu-title">
 									<span>Anda tidak memiliki tugas</span>
									<a href="#refresh"><i class="icon-repeat"></i></a>
								</li>
								<li>
                            		<a class="dropdown-menu-sub-footer">Lihat semua tugas</a>
								</li>	
							</ul>
						</li>
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-envelope"></i>
								<span class="badge red">
								0 </span>
							</a>
							<ul class="dropdown-menu messages">
								<li class="dropdown-menu-title">
 									<span>Tidak ada pesan</span>
									<a href="#refresh"><i class="icon-repeat"></i></a>
								</li>	
								<li>
                            		<a class="dropdown-menu-sub-footer">Lihat semua pesan</a>
								</li>	
							</ul>
						</li>
						
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> User
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>Account Settings</span>
								</li>
								<li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
								<li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
			</div>
		</div>
	</div>
        @content
    </body>
</html>
